<%= form_for @mcoc_mini_survey, :url => { :action => 'handle_mini_survey_pref' } do |f| %>
	<h3>Satisfaction Mini Survey</h3>
	<p><%= @mini_survey_orgname %> would appreciate hearing from you!</p><p></p>
	<p>Are you interested in taking a very short survey which captures your level of satisfaction regarding the 2012 Monitoring and Evaluation questionnaire? This should take no more than 5 minutes to complete.</p>
	<%= submit_tag 'Yes', :name => 'mini_survey_pref' %>
	<%= submit_tag 'No', :name => 'mini_survey_pref' %>
<% end %>
