<% title "Other Supporting Documentation" %>  
<h1>AssetOther#index</h1>
<p>Find me in app/views/asset_other/index.html.erb</p>

<%= form_for @asset_other,  :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
 

<% end %>


