#surveyor
  %br
  #audit_list_head
    Missing Required Information!
  The <b>#{@audit_section_name}</b> Section of the Questionnaire is missing the following required information:
  #audit_list
    %ul
      - unless @audit_records.empty?
        %br
        - @audit_records.each do |audit|
          %li
            #{audit.audit_key}
    #audit_list_cta_main
      = link_to @return_url_verbose, edit_my_survey_path(:survey_code => @tmp_survey_access_code, :response_set_code => @tmp_response_set_code, :section => params[:section], :first_visit => "1")
    %div#audit_list_alternate_action
      Otherwise, you can ignore the information above and continue by clicking 
      = link_to "here.", edit_my_survey_path(:survey_code => @tmp_survey_access_code, :response_set_code => @tmp_response_set_code, :section => @tmp_requested_next_section, :first_visit => "1")
    #audit_closure_message
      Please remember that if you do not provide all of the required information by the submittal due date, your Questionnaire will be considered incomplete.
  