#surveyor
  %br
  #audit_list_head
    Missing Required Information!
  The <b>#{@audit_section_name}</b> Section of the Questionnaire is missing the following required information:
  #audit_list
    %ul
      - unless @audit_records.empty?
        %br
        - @first_time = true
        - @audit_records.each do |audit|
          - if @first_time
            - @working_section_name = audit.section_name
            - @first_time = false
            %div.grantee_name 
            = @working_section_name
          - else
            - if @working_section_name == audit.section_name
            - else
              %div.section_name 
                = audit.section_name
              %div.section_key_info
                #{audit.audit_key}
         