
<table>
	<% if @bcc_list == "Yes" %>
	<tr>
		<td><p>
			<b>NOTE:</b>This email was not sent to the Program Executive Director, and will be considered incomplete until the 
			Executive Director receives a copy of the 2012 Monitoring and Evaluation Questionnaire. To correct, re-enter the
			questionnaire, go to the "Finish Section", enter an email address for the Executive Director, and re-submit the
			questionnaire by clicking the "Click here to finish" button.
		</p><p></p></td>
	</tr>
	<% end %>
	<tr>
		<td><p>
		A 2012 Monitoring and Evaluation Questionnaire for the <b><%= @finished_survey.project_name %> Project</b>, associated with the <b><%= @finished_survey.grantee_name %> Grantee</b> has been completed by <%= "#{@preparer_first_name} {@preparer_last_name}" %>, and is attached below for your convenience and review.</p><p></p><p>The Monitoring Committee will review your completed questionnaire, and may contact you if they have any questions or require more information.</p><p></p>
		</td>
	</tr>
</table>