
<table>
	<% if @bcc_list == "Yes" %>
	<tr>
		<td><p><font color="#FF0000">
			<b>NOTE:</b> This email was not sent to the Program Executive Director, and the 2012 Monitoring and Evaluation Questionnaire will be 				
			considered incomplete until the 
			Executive Director receives a copy of the 2012 Monitoring and Evaluation Questionnaire.</font>
			<p></p><p></p><p>To correct, re-enter the
			questionnaire, go to the "Finish Section", and enter an email address for the Executive Director. Re-submit the
			questionnaire by clicking the "Click here to finish" button in order to send the questionnaire to the Program Executive Director.
		</p><p>- - - - - - - - - - - - - - - - - - -</p><p></p><p></p><p></td>
	</tr>
	<% end %>
	<tr>
		<td><p>
		A 2012 Monitoring and Evaluation Questionnaire for the <b><%= @finished_survey.project_name %> Project</b>, associated with the <b><%= @finished_survey.grantee_name %> Grantee</b> has been completed by <%= @preparer_full_name %>, and is attached below for your convenience and review.</p><p></p><p>The Monitoring Committee will review your completed questionnaire, and may contact you if they have any questions or require more information.</p><p></p>
		<p>If you have any questions, contact <a href="mailto:stibbitts@mainehousing.org?subject=2012 Monitoring Question -  <%= @finished_survey.project_name %>">Scott Tibbitts at MaineHousing</a>. Please do not reply to this email.
		</td>
	</tr>
</table>