
<table>
	<tr>
		<td><p>
		A 2012 Questionnaire for the <b><%= @finished_survey.project_name %> Project</b>, associated with the <b><%= @finished_survey.grantee_name %> Grantee</b> has been completed, and is attached below for your convenience and review.</p><p></p>
		</td>
	</tr>
</table>