
<table>
	<tr>
		<td><p>
		A completed 2012 Questionnaire PDF for the <b><%= @finished_survey.project_name %> Project</b>, associated with the <b><%= @finished_survey.grantee_name %> Grantee</b> has been posted to the Document Library.</p><p></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
		To view the completed questionnaire:
			</p><p></p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			1. Sign into the Homeless Initiatives Portal.
			</p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			2. Visit this link: <%= @finished_survey.url %>
			</p><p></p>
		</td>
	</tr>
</table>